@use "global" as *;

.archive-campaign {
	position: relative;
}

.archive-campaign::before {
	position: absolute;
	content: "";
	background: url(../../assets/images/pc/voice-fish.png) no-repeat center center / contain;
	width: rem(120);
	height: rem(55);
	top: rem(-24);
	left: calc(50% - min(46vw, rem(620)));
	z-index: -1;

	@include mq("md") {
		width: rem(301);
		height: rem(138);
		top: rem(-70);
		left: calc(50% - min(47.5vw, rem(620)));
	}
}

.archive-campaign__inner {
}

.archive-campaign__label {
}

.archive-campaign__items {
	margin-top: rem(39);
	display: grid;
	gap: rem(40);
	justify-content: center;
	padding-inline: rem(32.5);

	@include mq("md") {
		gap: rem(80) rem(40);
		grid-template-columns: repeat(2, 1fr);
		padding-inline: 0;
	}
}

.archive-campaign__item {
}

.archive-campaign__pagination {
	margin-top: rem(78);
}
