@use "global" as *;

.blog {
	@include mq("md") {
		padding-top: rem(100);
		// background: url(../../assets/images/pc/blog-bg-pc.jpg) no-repeat top center / 100% 55.5%;
		position: relative;
	}
}

.blog::after {
	@include mq("md") {
		background: url(../../assets/images/pc/blog-bg-pc.jpg) no-repeat top center / cover;
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: rem(500);
		z-index: -1;
	}
}

//blogのinnerの左右の余白だけ15pxではなく21pxだったため
// .blog__inner.inner {
// 	padding-inline: rem(21);
// 	margin-inline: auto;

// 	@include mq("md") {
// 		max-width: rem(1130);
// 		padding-inline: $padding-pc;
// 		position: relative;
// 	}
// }

.blog__inner::after {
	@include mq("md") {
		position: absolute;
		content: "";
		background: url(../../assets/images/pc/blog-fish.png) no-repeat center center / contain;
		width: rem(437);
		height: rem(201);
		top: rem(24);
		left: calc(50% - min(48vw, rem(619)));
	}
}

.blog__title {

}

.blog__items {
	margin-top: rem(28);

	@include mq("md") {
		margin-top: rem(80);
	}
}

.blog__button {
	text-align: center;
	margin-top: rem(40);

	@include mq("md") {
		margin-top: rem(80);
	}
}
