@use "global" as *;

.button {
	display: inline-block;
	width: rem(202);
	background-color: $color-green;
	text-align: center;
	padding-block: rem(15);
	color: $color-white;
	font-size: rem(14);
	font-family: $english-font-family;
	line-height: 1.57143;
	position: relative;
	z-index: 1;
	transition: color 0.2s;
	margin-right: rem(3);
	border: 1px solid $color-green;
}

.button::before {
	background: $color-white;
	// border: 1px solid $color-green;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
	z-index: -1;
}

.button:hover {
	@include mq("md") {
		color: $color-green;
	}
}

.button:hover::before {
	@include mq("md") {
		transform: scale(1, 1);
	}
}

.button::after {
	position: absolute;
	content: "";
	border: 1px solid $color-green;
	top: rem(4);
	right: rem(-4);
	width: 100%;
	height: 100%;
	z-index: -2;
}

.button p {
	display: inline-block;
	padding-right: rem(48.75);
	position: relative;
}

.button p::after {
	position: absolute;
	top: 40%;
	right: 0;
	transform: translateY(-50%);
	width: rem(41);
	height: rem(8);
	background: url(../../assets/images/common/button-arrow.png) no-repeat center center / contain;
	content: "";
}

.button:hover p::after {
	@include mq("md") {
		background: url(../../assets/images/common/button-arrow-green.png) no-repeat center center / contain;
		z-index: 3;
	}
}

.button:active {
	transform: translate(rem(4), rem(4));
}

.button:active::after {
	display: none;
}


.button--white {
	background-color: $color-white;
	color: $color-green;
	border: 1px solid $color-white;
}

.button--white p {
	padding-right: rem(57);
}

.button--white:hover {
	@include mq("md") {
		color: $color-white;
	}
}

.button--white::before {
	background: $color-green;
}

.button--white::after {
	border: 1px solid $color-white;
}

.button--white p::after {
	background: url(../../assets/images/common/button-arrow-green.png) no-repeat center center / contain;
}

.button--white:hover p::after {
	@include mq("md") {
		background: url(../../assets/images/common/button-arrow.png) no-repeat center center / contain;
		z-index: 3;
	}
}
