@use "global" as *;

.campaign {
	overflow: hidden; //.campaign__swiperに当てたmargin-right: calc(50% - 50vw);による横スクロール発生のため
	padding-bottom: rem(4);
}

.campaign__inner {
	@include mq("md") {
		position: relative;
	}
}

//.campaign__swiper(.swiper)にbox-shadow分の余白を付けたため
// .campaign__inner.inner {
// 	padding-left: rem(5);

// 	@include mq("md") {
// 		padding-left: rem(15);
// 	}
// }

.campaign__swiper {
	margin-right: calc(50% - 50vw);
	// width: 100vw;
	// overflow: visible;

	//.swiper-containerクラスにはoverflow:hidden;が指定されているためpaddingの余白を設ける
	// 参考https://eclair.blog/swiper/
	padding-left: rem(10);
	padding-bottom: rem(10);
	margin-left: rem(-10);
	margin-bottom: rem(-10);
}

.swiper-wrapper {
}

//swiperにbox-shadow分の余白を付けたため
// .campaign__title.section-header {
// 	margin-left: rem(10);
// }

.campaign__items {
	margin-top: rem(28);

	@include mq("md") {
		margin-top: rem(40);
	}
}

.campaign__button {
	text-align: center;
	margin-top: rem(40);
	//Swiperのbox-shadow分の余白
	// margin-top: calc(rem(40) - rem(10));
	// margin-left: rem(10);

	@include mq("md") {
		margin-top: rem(80);
		// margin-top: calc(rem(80) - rem(10));
	}
}

.campaign__prev,
.campaign__next {
	@include mq("md") {
		display: block;
		width: rem(80);
		height: rem(80);
		position: absolute;
		transition: opacity 0.3s;
		cursor: pointer;
		//.swiper-button-next, .swiper-button-prevにmargin-top: calc(0px - (var(--swiper-navigation-size)/ 2));が付いていたため初期化
		// ↓↓↓↓↓↓↓↓↓↓
		//swiper-button-prev(-next)にそれぞれ-originを付けることでデフォルトのスタイルが当たらないようにして対応したためやはり不要
		// margin-top: 0;
	}
}

:is(.campaign__prev, .campaign__next):hover {
	@include mq("md") {
		opacity: 0.7;
	}
}

.campaign__prev {
	display: none;

	@include mq("md") {
		background: url(../../assets/images/common/button-prev.png) no-repeat center center / contain;
		top: 0;
		// left: calc(865 / 1130) * 100%;
		left: rem(865);
	}
}

.campaign__next {
	display: none;

	@include mq("md") {
		background: url(../../assets/images/common/button-next.png) no-repeat center center / contain;
		top: 0;
		// left: calc(1025 / 1130) * 100%;
		right: 25px;
	}
}
