@use "global" as *;

.footer-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: rem(32) rem(18);
	justify-content: space-between;
	white-space: nowrap;
	grid-template-areas:
		"a c"
		"b d";

	@include mq("md") {
		gap: rem(60);
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "a b c d";
	}
}

.footer-nav--sitemap {
	gap: rem(32) rem(28);

	@include mq("md") {
		gap: rem(144);
	}
}

.footer-nav__1 {
	grid-area: a;
}
.footer-nav__2 {
	grid-area: b;
}
.footer-nav__3 {
	grid-area: c;

	@include mq("md") {
		margin-left: rem(-14);
	}
}
.footer-nav__4 {
	grid-area: d;

	@include mq("md") {
		margin-left: rem(-29);
	}
}

.footer-nav__3--sitemap {
	@include mq("md") {
		margin-left: 0;
	}
}
.footer-nav__4--sitemap {
	@include mq("md") {
		margin-left: 0;
	}
}

.footer-nav__items {
	display: flex;
	flex-direction: column;
	gap: rem(24);
}

.footer-nav__items + .footer-nav__items {
	margin-top: rem(40);
}

.footer-nav__4 > .footer-nav__items + .footer-nav__items {
	margin-top: rem(29);
}

.footer-nav__item {
	padding-left: rem(22);
	position: relative;
}

.footer-nav__item a {
	display: block;
	line-height: 1.125;
	color: $color-white;
}

.footer-nav__item--sitemap a {
	color: #0d2936;
}

.footer-nav__item a:hover {
	@include mq("md") {
		opacity: 0.7;
	}
}

.footer-nav__item:first-child a {
	font-weight: $bold;
}

.footer-nav__item:first-child::before {
	position: absolute;
	content: "";
	background: url(../../assets/images/common/icon-starfish.png) no-repeat center center / contain;
	width: rem(18);
	height: rem(18);
	top: 0;
	left: 0;
}

.footer-nav__item--sitemap:first-child::before {
	background: url(../../assets/images/common/icon-starfish-black.png) no-repeat center center / contain;
}
