@use "global" as *;

.gallery {
}

.layout-gallery {
}

.gallery__inner {
}

.gallery__title {
}

.gallery__photos {
	margin-top: rem(40);
	display: grid;
	gap: rem(8);

	@include mq("md") {
		margin-top: rem(80);
		grid-template-columns: calc(492 / 1080) * 100% calc(80 / 1080) * 100% calc(492 / 1080) * 100%;
		// grid-template-rows: repeat(4, rem(369));
		grid-auto-flow: dense;
	}
}

/* アスペクト比の設定 */
.gallery__photos img {
	aspect-ratio: 345/219;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include mq("md") {
		aspect-ratio: 580/369;
	}
}

.gallery__photos img:nth-child(6n + 1) {
	aspect-ratio: 345/523;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include mq("md") {
		aspect-ratio: 492/746;
	}
}

.gallery__photos img:nth-child(6n + 6) {
	aspect-ratio: 345/523;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include mq("md") {
		aspect-ratio: 492/746;
	}
}

/* グリッドの配置 */
.gallery__photos img:nth-child(6n + 1) {
	@include mq("md") {
		grid-column: span 1;
		grid-row: span 2;
	}
}

.gallery__photos img:nth-child(6n + 2) {
	@include mq("md") {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.gallery__photos img:nth-child(6n + 3) {
	@include mq("md") {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.gallery__photos img:nth-child(6n + 4) {
	@include mq("md") {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.gallery__photos img:nth-child(6n + 5) {
	@include mq("md") {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.gallery__photos img:nth-child(6n + 6) {
	@include mq("md") {
		grid-column: span 1;
		grid-row: span 2;
	}
}

#blackDisplay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(32, 32, 32, 0.8);
	z-index: 30;
}

#blackDisplay img {
	position: absolute;
	inset: 0;
	margin: auto;
	max-width: 96%;
	max-height: 90%;
	object-fit: contain;

	@include mq("md") {
		max-width: calc(920 / 1440) * 100%;
	}
}
