@use "global" as *;

.label {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(16) rem(21);

	@include mq("md") {
		grid-template-columns: repeat(auto-fill, rem(162));
		gap: rem(32);
	}
}

.label__item {
	padding: rem(5) rem(10);
	color: $color-green;
	background-color: $color-white;
	font-size: rem(14);
	line-height: 1.57143;
	border: 1px solid $color-green;
	text-align: center;
	transition:
		color 0.3s,
		background-color 0.3s;
}

.label__item.is-active {
	color: $color-white;
	background-color: $color-green;
}

.label__item:hover {
	color: $color-white;
	background-color: $color-green;
}
