@use "global" as *;

.mv {
	width: 100%;
	height: 100vh;
}

.mv__inner {
}

.mv__image {
	position: relative;
}

.mv__image img {
	height: 100vh;
	object-fit: cover;
}

.mv__lead {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $color-white;
	z-index: 2;
}

.mv__title {
	font-size: rem(40);
	font-family: 'Lato', sans-serif;
	font-weight: $normal;
	letter-spacing: 0.54em;
	margin-right: -0.54em;

	@include mq('md') {
		font-size: rem(80);
		letter-spacing: 0.613em;
	}
}

.mv__subtitle {
	font-size: rem(20);
	font-family: $english-font-family;
}
