@use "global" as *;

.page-faq {
}


.page-faq__inner.inner {
	@include mq('md') {
		max-width: rem(750);
	}
}

.nopost {
	text-align: center;
	font-size: rem(20);

	@include mq('md') {
		font-size: rem(60);
	}
}

// .page-faq__inner {
// 	position: relative;
// }

// .page-faq__inner::before {
// 	position: absolute;
// 	content: "";
// 	background: url(../../assets/images/pc/voice-fish.png) no-repeat center center / contain;
// 	width: rem(120);
// 	height: rem(55);
// 	top: rem(-24);
// 	left: calc(50% - min(46vw, rem(620)));
// 	z-index: 1;

// 	@include mq("md") {
// 		width: rem(301);
// 		height: rem(138);
// 		top: rem(-70);
// 		left: calc(50% - min(47.5vw, rem(620)));
// 		z-index: -1;
// 	}
// }

.page-faq__items {
	display: grid;
	gap: rem(40);
	width: 100%;

	// @include mq('md') {
	// 	margin-inline: auto;
	// 	max-width: rem(700);
	// }
}

.page-faq__item {
}
