@use "global" as *;

.page-contact {
}

.page-contact__inner {
	position: relative;
}

.page-contact__inner::before {
	position: absolute;
	content: "";
	background: url(../../assets/images/pc/voice-fish.png) no-repeat center center / contain;
	width: rem(120);
	height: rem(55);
	top: rem(-24);
	left: calc(50% - min(46vw, rem(620)));
	z-index: -1;

	@include mq("md") {
		width: rem(301);
		height: rem(138);
		top: rem(-70);
		left: calc(50% - min(47.5vw, rem(620)));
	}
}

.page-contact__error-message {
	font-size: rem(14);
	color: #c94800;
	width: calc(224 / 345) * 100%;
	margin-inline: auto;
	padding-left:1em;
	text-indent:-1em;
	text-align: center;
	display: none;
}

.page-contact__error-message.is-error {
	display: block;
}

.page-contact__content {
	margin-top: rem(41);
}

form {
	// display: none;
}

.form__success-message {
	display: none;
	text-align: center;
}

.form__success-message p+ p {
	margin-top: rem(40);
}