@use "global" as *;

.pc-nav {
	display: none;

	@include mq("md") {
		display: flex;
		align-items: center;
		gap: rem(40);
		height: inherit;
	}
}

.pc-nav__link {
	height: inherit;
	text-align: center;
	color: $color-white;
	display: grid;
	place-content: center;
	cursor: pointer;
}

.pc-nav__link a {
	position: relative;
}

.pc-nav__link a::after {
	content: "";
	position: absolute;
	bottom: rem(-4);
	left: 0;
	width: 100%;
	height: rem(1);
	background: $color-white;
	transition: all 0.3s;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: center top; /*上部中央基点*/
}

.pc-nav__link:hover {
	// opacity: 0.7;
}

.pc-nav__link a.current::after,
.pc-nav__link:hover a::after {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.pc-nav__link-en {
	font-family: $english-font-family;
	font-size: rem(18);
	line-height: 1;
}

.pc-nav__link-ja {
	margin-top: rem(4);
	font-size: rem(10);
	line-height: 1.5;
}
