@use "global" as *;

.price {
	padding-block: rem(80) rem(84);
	background-color: #ddf0f1;

	@include mq("md") {
		padding-block: rem(100) rem(104);
	}
}

// .price__inner.inner {
// 	@include mq("md") {
// 		max-width: rem(1127);
// 	}
// }

.price__inner {
	position: relative;
}

.price__inner::before {
	@include mq("md") {
		position: absolute;
		content: "";
		background: url(../../assets/images/pc/price-fish.png) no-repeat center center / contain;
		width: rem(437);
		height: rem(201);
		bottom: rem(-45);
		left: calc(50% - min(48vw, rem(620)));
	}
}

.price__title {
}

.price__body {
	margin-top: rem(28);
	display: grid;
	gap: rem(40);

	@include mq("md") {
		margin-top: rem(40);
		grid-template-columns: 1fr 1fr;
		gap: rem(96);
	}
}

.price__image {
	@include mq("md") {
		order: 2;
	}
}

.price__image source {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.price__image img {
	aspect-ratio: 345 / 227;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include mq("md") {
		aspect-ratio: 492 / 746;
	}
}

.price__lists {
	@include mq("md") {
	}
}

.price__list + .price__list {
	margin-top: rem(40);
}

.price__category {
	font-size: rem(16);
	font-weight: $bold;
	line-height: 1.5;
	padding-bottom: rem(4);
	position: relative;
}

.price__category::after {
	position: absolute;
	content: "";
	background-color: $color-green;
	width: 100%;
	height: rem(1);
	bottom: 0;
	left: 0;
}

.price__contents {
	font-size: rem(14);
	line-height: 1.7143;
	display: grid;
	grid-template-columns: 1fr rem(80);
	justify-content: space-between;

	@include mq("md") {
		font-size: rem(16);
		line-height: 1.5;
	}
}

.price__name {
	margin-top: rem(8);
	// width: calc(270 / 345) * 100%;

	@include mq("md") {
		// width: calc(350 / 492) * 100%;
	}
}

.price__cost {
	margin-top: rem(8);
	justify-self: end;
}

.price__button {
	text-align: center;
	margin-top: rem(40);

	@include mq("md") {
		margin-top: rem(80);
	}
}
