@use "global" as *;

.single-pagination {
	display: flex;
	justify-content: center;
	gap: rem(82);
}

.single-pagination a {
	border: 1px solid $color-green;
	font-family: "Lato", sans-serif;
	color: $color-green;
	display: grid;
	place-content: center;
	width: rem(38);
	height: rem(38);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.single-pagination a:hover {
	color: $color-white;
	background-color: $color-green;
}

.single-pagination__prev {
	position: relative;
}

.single-pagination__prev::before {
	position: absolute;
	content: "";
	width: rem(11);
	height: rem(11);
	border-top: 1px solid $color-green;
	border-left: 1px solid $color-green;
	top: 50%;
	left: 55%;
	transform: rotate(-45deg) translateY(-53%);
		transition: border-color 0.3s ease;
}

.single-pagination__prev:hover::before {
	border-top: 1px solid $color-white;
	border-left: 1px solid $color-white;
}

.single-pagination__next {
	position: relative;
}

.single-pagination__next::before {
	position: absolute;
	content: "";
	width: rem(11);
	height: rem(11);
	border-top: 1px solid $color-green;
	border-right: 1px solid $color-green;
	top: 50%;
	right: 55%;
	transform: rotate(45deg) translateY(-56%);
	transition: border-color 0.3s ease;
}

.single-pagination__next:hover::before {
	border-top: 1px solid $color-white;
	border-right: 1px solid $color-white;
}