@use "global" as *;

.sub-mv {
	width: 100%;
	height: rem(460);
	position: relative;

	@include mq("md") {
		height: rem(548);
	}
}

.sub-mv--campaign {
	background: url(../../assets/images/sp/sub-campaign-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-campaign-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--about {
	background: url(../../assets/images/sp/sub-aboutus-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-aboutus-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--information {
	background: url(../../assets/images/sp/sub-information-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-information-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--blog {
	background: url(../../assets/images/sp/sub-blog-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-blog-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--voice {
	background: url(../../assets/images/sp/sub-voice-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-voice-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--price {
	background: url(../../assets/images/sp/sub-price-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-price-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--faq {
	background: url(../../assets/images/sp/sub-faq-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-faq-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv--contact {
	background: url(../../assets/images/sp/sub-contact-mv-sp.jpg) no-repeat center center / cover;

	@include mq('md') {
		background: url(../../assets/images/pc/sub-contact-mv-pc.jpg) no-repeat center center / cover;
	}
}

.sub-mv-mask {
	position: relative;
}

.sub-mv-mask::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(64, 143, 149, 0.3);
}

.sub-mv__title {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-51%, -50%);
	font-family: "Lato", sans-serif;
	font-size: rem(40);
	font-weight: 400;
	color: $color-white;
	line-height: 1;

	@include mq("md") {
		font-size: rem(80);
		transform: translate(-50%, 14%);
	}
}




// .sub-mv {
// 	width: 100%;
// 	height: rem(460);
// 	position: relative;

// 	@include mq('md') {
// 		height: rem(548);
// 	}
// }

// .sub-mv::before {
// 	position: absolute;
// 	content: "";
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(64, 143, 149, 0.30);
// 	z-index: 1;
// }

// .sub-mv__image {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// }

// .sub-mv__image img{
// 	object-fit: cover;
// 	width: 100%;
// 	height: 100%;
// }

// .sub-mv__title {
// 	position: absolute;
// 	content: "";
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	font-family: 'Lato', sans-serif;
// 	font-size: rem(40);
// 	font-weight: 400;
// 	color: $color-white;
// 	line-height: 1;
// 	z-index: 2;

// 	@include mq('md') {
// 		font-size: rem(80);
// 		transform: translate(-50%, 14%);
// 	}
// }
