@use "global" as *;

.voice-list {
	display: grid;
	gap: rem(40);

	@include mq("md") {
		grid-template-columns: repeat(2, 1fr);
	}
}

.voice-list--sub {
	@include mq('md') {
		gap: rem(80) rem(40);
	}
}

.voice-list__item {
}
